body {
    background-image: url("../IMG/fondo-examen.jpg");
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.contener-shadow {
    background-color: #006691;
    border-radius: 15px;
    width: 520px;
    height: 500px;
    box-shadow: 5px 5px 50px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contener-mediun {
    border-radius: 15px;
    width: 500px;
    height: 450px;
    background-color: white;
    box-shadow: 5px 5px 50px 5px;
    display: flex;
flex-direction: column;
}

.contener-forward {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.tabla{

}

input {
    width: 30%;
    padding: 7px;
    border-radius: 10px;
    border: 1px solid #2499c7;
    transition: border 500ms;
    transition: max-width 500ms;
    outline: 0 none;
}

.div-input{
    margin-left: 30px;
}

.bel {
    font-weight: 470;
}

h1 {
    text-align: center;
    font-weight: 1000;
}

.botonenvio {
    border: 1px solid #40cfff;
    background-color: #2499c7;
    transition: border 500ms;
    transition: background-color 500ms;
    outline: 0 none;
    width: 100%;
    padding: 3px;
    font-weight: 500;
    text-align: center;
    margin-top: 60px;
    color: black;
    text-decoration: none;
}

.botonenvio:hover {
    background-color: white;
    border: 1px solid #2499c7;
    box-shadow: 0px 0px 10px 0px #40cfff;
}

.botonenvio:focus {
    background-color: #2499c7;
    border: 1px solid white;
    box-shadow: 0px 0px 10px 0px #40cfff;
}

.button2 {
    border-radius: 10px;
    border: 1px solid white;
    background-color: #2499c7;
    transition: border 500ms;
    transition: background-color 500ms;
    outline: 0 none;
    padding: 4px 15px;
    font-weight: 450;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

.button2 a {
    text-decoration: none;
    color: black;
    cursor: default;
}

.button2:focus {
    background-color: #2499c7;
    border: 1px solid white;
    box-shadow: 0px 0px 10px 0px #40cfff;
}

.button2:hover {
    background-color: white;
    border: 1px solid #2499c7;
    box-shadow: 0px 0px 10px 0px #40cfff;
}

.tabla{
    margin-top: 20px;
    width: 98%;
    border: 1px #2499c7 solid;
}

.tabla .cabezado{
background-color: #40cfff;
}
.tabla tr{
    height: 30px;
}
