body {
    background-image: url(https://rtvc-informativo.s3.amazonaws.com/Diferencias_eps_1-1000x600.jpg);
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contener-shadow {
    background-color: #006691;
    border-radius: 15px;
    max-width: 70%;
    max-height: 500px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: auto;
    box-shadow: 5px 5px 50px 5px;
}

.contener-mediun {
    border-radius: 15px;
    width: 500px;
    height: 500px;
    background-color: white;
    margin-left: auto;
    margin-top: -20px;
    margin-bottom: auto;
    margin-right: auto;
    padding-bottom: 40px;
    box-shadow: 5px 5px 50px 5px;
}

.contener-forward {
    margin-top: -25px;
    text-align: center;
    padding: 0 45px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
}

.contener-forward input {
    max-width: 80%;
    padding: 7px;
    border-radius: 10px;
    border: 1px solid #2499c7;
    transition: border 500ms;
    transition: max-width 500ms;
    outline: 0 none;
}

.contener-forward input:focus {
    border: 1px solid #40cfff;
    max-width: 81%;
    outline: 0 none;
    box-shadow: 0px 0px 10px 0px #2499c7;
}

.contener-forward input:hover {
    border: 1px solid #40cfff;
    outline: 0 none;
}

.contener-forward select {
    max-width: 80%;
    padding: 7px;
    border-radius: 10px;
    border: 1px solid #2499c7;
    transition: border 500ms;
    transition: max-width 500ms;
    outline: 0 none;
}

.contener-forward select:focus {
    border: 1px solid #40cfff;
    max-width: 81%;
    outline: 0 none;
    box-shadow: 0px 0px 10px 0px #2499c7;
}

.contener-forward select:hover {
    border: 1px solid #40cfff;
    outline: 0 none;
}

.contener-forward label {
    font-weight: 470;
}

h1 {
    text-align: center;
    font-weight: 1000;
}

.button1 {
    border-radius: 10px;
    border: 1px solid white;
    background-color: #2499c7;
    transition: border 500ms;
    transition: background-color 500ms;
    outline: 0 none;
    width: 100px;
    padding: 7px;
    font-weight: 540;
    text-align: center;
    margin-right: 50px;
    margin-top: 250px;
}

.button2 {
    border-radius: 10px;
    border: 1px solid white;
    background-color: #2499c7;
    transition: border 500ms;
    transition: background-color 500ms;
    outline: 0 none;    
    padding: 4px 15px;
    font-weight: 400;
    text-align: center;
    margin-left: 50px;
    text-decoration: none;
    color: black;
    cursor: default;
}

.button1:hover {
    background-color: white;
    border: 1px solid #2499c7;
    box-shadow: 0px 0px 10px 0px #40cfff;
}

.button2:hover {
    background-color: white;
    border: 1px solid #2499c7;
    box-shadow: 0px 0px 10px 0px #40cfff;
}

.button1:focus {
    background-color: #2499c7;
    border: 1px solid white;
    box-shadow: 0px 0px 10px 0px #40cfff;
}

.button2:focus {
    background-color: #2499c7;
    border: 1px solid white;
    box-shadow: 0px 0px 10px 0px #40cfff;
}

.mv{
    margin-top: 250px;
}