@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;900&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.encabezado {
    width: 100%;
    height: 80px;
    display: flex;
    background-color: white;
}

.flotante {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    box-shadow: 1px 1px 3px 1px;
}

.logo {
    margin-left: 25px;
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #03045E;
}

.logo h1 p {
    margin: 0;
    padding: 0;
}

.logo h1 {
    font-weight: 900;
    font-size: 30px;
}

.logo p {
    font-weight: 700;
}

.sub-encabezado {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.direccion {
    padding: 10px;
    font-weight: 600;
    text-decoration: none;
    color: #023E8A;
    font-size: 14px;
    transition: color 300ms;
}

.direccion:hover {
    color: #0096C7;
}

.inicio-sesion {
    border-radius: 20px;
    padding: 6px 25px;
    margin-left: 35px;
    background-color: #03045E;
    color: white;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    transition: color 400ms;
    transition: background-color 400ms;
    transition: border 400ms;
    border: 1px solid #03045E;
}

.inicio-sesion:hover {
    border: 1px solid #03045E;
    color: #03045E;
    background-color: white;
}

.inicio-sesion:focus {
    border: 1px solid #023E8A;
    color: #023E8A;
    background-color: white;
    box-shadow: 1px 1px 5px 1px #03045E;
}

.navegacion {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00B4D8;
}

.navegacion ul {
    margin: 0;
    padding: 0;
}

.navegacion a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-decoration: none;
    margin: 20px;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    width: 100%;
    padding: 4px;
    border: none;
}

.navegacion a:hover {
    border-bottom: 2px solid white;
}

.imagen {
    background-image: url("../IMG/dotor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}

.caja-covid {
    height: 500px;
    width: 100%;
    display: flex;
}

.informate-vacia {
    width: 350px;
    height: 100%;
    background-color: #0077B6;
    display: flex;
    align-items: center;
}

.vacia {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 15px;
}

.informate-caja {
    height: 100%;
    width: 900px;
}

.caja {
    align-items: center;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.informate {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    width: 250px;
    height: 85%;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 1px 0;
    transition: box-shadow 500ms;
    transition: border-radius 500ms;
}

.informate:hover {
    box-shadow: 0 0 10px 0;
    border-radius: 10px;
}

.informate h5 {
    margin: 20px 0 0 0;
    font-size: 20px;
    text-align: center;
}

.informate p {
    padding: 0 20px 0 20px;
    text-align: center;
    font-size: 15px;
}

.informate a {
    margin-left: 85%;
    text-decoration: none;
    text-align: right;
    text-decoration: none;
    font-weight: 700;
}

.informate a:hover {
    color: #00B4D8;
}

.img-1 {
    border-radius: 20px 20px 0 0;
    background-image: url("../IMG/emin-baycan-lCSBOoe0iS4-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
}

.img-2 {
    border-radius: 20px 20px 0 0;
    background-image: url("../IMG/jakayla-toney-zRGqHTHP-HQ-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
}

.img-3 {
    border-radius: 20px 20px 0 0;
    background-image: url("../IMG/glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
}

.contener-servicios {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
}

.servicios-nada {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
}

.servicios-nada h1 {
    border-top: 1px solid #023E8A;
    border-width: 2px;
    margin: 0;
    font-size: 40px;
    text-align: left;
}

.servicios-nada p {
    font-size: 17px;
}

.servicios-nada button {
    width: 250px;
    padding: 12px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    background-color: #023E8A;
    transition: background-color 500ms;
}

.servicios-nada button:hover {
    background-color: #0096C7;
}

.servicios-contener {
    width: 800px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contener-forward {
    text-align: left;
    width: 250px;
    height: 80%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0.5px 0;
    transition: box-shadow 500ms;
    transition: border-radius 500ms;
}

.contener-forward:hover {
    border-radius: 10px;
    box-shadow: 0 0 50px 0;
}

.contener-forward p {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
.boton{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 200px;
    font-size: 15px;
}
.enlace {
    border: none;
    color: #03045E;
    font-weight: 700;
    text-decoration: none;
    margin-top: 20px;
    text-align: right;
    margin-right: 40px;
    margin-bottom: 25px;
    background-color:transparent;
}

.enlace:hover {
    color: #00B4D8;
}

.img-4 {
    background-image: url("../IMG/national-cancer-institute-L8tWZT4CcVQ-unsplash.jpg");
    width: 70%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 40px 10px 40px;
}

.img-5 {
    background-image: url("../IMG/louis-reed-pwcKF7L4-no-unsplash.jpg");
    width: 70%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 40px 10px 40px;
}

.img-6 {
    background-image: url("../IMG/ralston-smith-zc9pWsPZd4Y-unsplash.jpg");
    width: 70%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 40px 10px 40px;
}
